* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

header {
	background-color: #404041;
	color: #DD1972;
	height: 123px;
	text-align: center;
  width: 100%;
}

h1 {
  font-weight: lighter;
  padding: 20px 0 0 0;
  margin: 0;
  font-size: 55px;
  width: 100%;
}

span {
  font-weight: bold;
}

.ultimate span {
    position: relative;
    display: inline-block;
    font-weight: lighter;
    position: relative;
    bottom: 15px;
}

.ultimate span:before,
.ultimate span:after{
    content:'';
    position: absolute;
    border-bottom: 2px solid #f7f7f7;
    top: 50%;
    width: 50%;
    margin: 0 10px;
}

.ultimate span:before {
    right: 100%;
}

.ultimate span:after {
    left: 100%;
}

.ultimate {
   color: #FFFFFF;
   font-size: 15px;
   font-weight: lighter;
   margin: 0;
 }

main {
	display: flex;
	flex-direction: row;
	background-color: #969DA7;
  width: 100%;
}

section.guess {
	background-color: #F7F7F7;
	width: 50%;
  height: 100%;
	display: flex;
	flex-direction: column;
}

ul.challenger1-field {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 0px;
}

ul.buttons {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 0px;
  justify-content: space-evenly;
  width: 100%;
}

ul.set-range {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 0px;
}

ul.last-guess {
  padding: 0px;
  margin: 5px 0px 5px 0px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.vl {
  border-left: 2px solid #D0D2D3;
  height: 200px;
  margin: 0px;
}

li {
	display: inline-block;
  margin: 0px 5px 0px 0px;
}

label {
	display: block;
	color: gray;
  text-align: left;
}

article.set-range  {
	border: 1px solid #EBEBEB;
	height: 100%;
	width: 94%;
	background-color: #FFFFFF;
	margin: 10px;
}

.current-range  {
	border: 1px solid gray;
	height: 360px;
	width: 500px;
	background-color: #FFFFFF;
	margin: 10px 10px 0px 10px;
}

h3 {
  font-weight: lighter;
  padding: 0px 0px 0px 5px;
}

u.num1, u.num2 {
  font-weight: bold;
}

.update-range {
  background-color: #6E6E6E;
  color: #FFFFFF;
  border-radius: 20px;
  width: 122px;
  height: 35px;
  margin: 15px 0;
  font-weight: bold;
  font-size: 17px;
}

#Range1, #Range2 {
  height: 30px;
  width: 100%;
  border: 1px solid #DDDDDD;
 }

article.current-range  {
	border: 1px solid #EBEBEB;
	height: 100%;
	width: 94%;
	background-color: #FFFFFF;
	margin: 10px;
}

#Name1, #Name2, #Guess1, #Guess2 {
  border: 1px solid #DDDDDD;
  width: 100%;
  height: 30px;
  margin: 0px 15px 0px 0px;
  display: flex;
  flex-direction: row;
}

h2 {
	margin: 10px 0 5px 10px;
	color: #404041;
}

.submit-guess  {
	width: 160px;
	height: 33px;
	border-radius: 20px;
	background-color: #6E6E6E;
	color: #FFFFFF;
	font-weight: bold;
 	font-size: 17px;
}

.submit-guess:hover {
  background-color: #DD1972;
}

.reset-game, .clear-game {
	width: 140px;
	height: 33px;
	border-radius: 20px;
	background-color: #D0D2D3;
	color: #FFFFFF;
	font-weight: bold;
 	font-size: 17px;
}

article.latest-score {
  border: 1px solid #EBEBEB;
  height: 100%;
  width: 94%;
  background-color: #FFFFFF;
  margin: 10px;
}

.latest-score h3 {
	margin: auto;
  text-align: center;
}

h4 {
  margin: auto;
  text-align: center;
  color: #6E6E6E;
  font-weight: lighter;
}

.latest-score span {
	font-size: 70px;
	padding: 0 80px 0 80px;
	color: #F74D9B;
	font-weight: bold 700;
}

h3.challenger1, h3.challenger2 {
  margin: 0px 30px 0px 30px;
  color: #6E6E6E;
  font-weight: bold;
  font-size: 20px;
}

h3.thats1, h3.thats2 {
	margin: 10px 0px 10px 0px; 
	font-weight: bold;
  text-align: center;
}

.winner1, .winner2 {
	border: 1px solid gray;
	height: 188px;
	width: 94%;
	background-color: #FFFFFF;
	margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
	text-align: center;
  display: none;
}

hr {
	width: 98%;
	color: #D6DEE7;
  margin: 6px 2.5px 6px 2.5px;
}

section.result {
  width: 50%;
  height: 100%;
}

h3.face-off {
  font-weight: bold;
}

h3.face-off2 {
  font-size: 20px;
  margin: 10px 0px 2px 0px;
  text-align: center;
  word-spacing: 25px;
  font-weight: bold;
}

h2.winner {
  font-weight: lighter;
  text-align: center;
}

h2.Name2 {
  font-size: 40px;
  margin: auto;
  text-align: center;
}

.guesses-result {
	display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 0px;
}

.delete-card1, .delete-card2 {
	border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  font-weight: bold;
  padding: 1px;
  background-color: #6E6E6E;
  color: #D0D0D2D3;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus {
  box-shadow: 0 0 5px #DD1972;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #DD1972;
}
 .error1, .error2, .error3{
    display: none;
    color: #DD1972;
    width: 100%;
    font-size: 15px;
    height: 22px;
    text-align: left;
    margin: 0px 0px 0px 5px;
  }
    
@media screen and (max-width: 960px) {
  .update-range {
    margin: 15px 10px 15px 0px;
  }

  ul.set-range {
    display: flex;
    flex-direction: row;
  }

  ul.buttons {
    display: flex;
    flex-direction: row;
  }

  .submit-guess, .reset-game, .clear-game {
    width: auto;
    font-size: 16px;
  }

  #Range1, #Range2 {
    width: 80%;
  }
}

@media screen and (max-width: 770px) {
  h1 {
    font-size: 30px;
    padding: 40px 0px 0px 0px;
  }

  .ultimate {
  font-size: 10px;
    text-align: center;
  }

.ultimate span:before,
.ultimate span:after {
  width: 30%;
}

  main {
    display: flex;
    flex-direction: row;
  }

  button.update-range {
    margin: 10px 0px 10px 0px;
    width: 100%;
  }

  ul.buttons {
    display: block;
  }

  li {
    display: block;
  }

  ul.last-guess {
    display: flex;
    flex-direction: column;
  }

  .vl {
    display: none;
  }

  #Name1, #Name2 {
    width: 100%;
  }

  .submit-guess, .reset-game, .clear-game {
    width: 100%;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100%;
  }

  h1 {
    font-size: 30px;
    padding: 10px 0 0 0;
  }

  h2, h3 {
    text-align: left;
    margin: 5px 0px 0px 10px;
  }

  ul.set-range {
    display: block;
  }
  .submit-guess, .reset-game, .clear-game {
    width: 100%;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
  }

  #Range1, #Range2, #Name1, #Name2, #Guess1, #Guess2 {
    width: 100%;
    height: 30px;
  }

  .ultimate {
    font-size: 10px;
    text-align: center;
  }

  .ultimate span:before, .ultimate span:after {
    width: 28%;
  }

  main {
    display: block;
  }

  section.guess {
    display: block;
    width: 100%;
  }

  ul.buttons{
    display: block;
  }

  .update-range {
    margin: 5px 0px 0px 5px;
    width: 50%;
  }

  li.button {
    width: 100%;
  }

  section.result {
    display: block;
    width: 100%;
  }

  ul.last-guess {
    display: flex;
    flex-direction: column;
  }

.vl {
    display: none;
  }
}

