* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

header {
	background-color: #404041;
	color: #DD1972;
	height: 123px;
	text-align: center;
}

h1 {
  font-weight: lighter;
  padding: 20px 0 0 0;
  margin: 0;
 font-size: 55px;
 
}

span {
  font-weight: bold;
}

.ultimate span {
    position: relative;
    display: inline-block;
    font-weight: lighter;
    position: relative;
    bottom: 15px;
}

.ultimate span:before,
.ultimate span:after{
    content:'';
    position: absolute;
    border-bottom: 2px solid #f7f7f7;
    top: 50%;
    width: 50%;
    margin: 0 10px;
}

.ultimate span:before {
    right: 100%;
}

.ultimate span:after {
    left: 100%;
}

.ultimate {
   color: #FFFFFF;
   font-size: 15px;
   font-weight: lighter;
   margin: 0;
 }

main {
	display: flex;
	flex-direction: row;
	background-color: #969DA7;
}

.guess {
	background-color: #F7F7F7;
	width: 533px;
  height: 100%;
	display: flex;
	flex-direction: column;
}

ul {
	padding: 3px;
	margin: 5px;
  text-align: center;
}

li {
	display: inline-block;
}

label {
	display: block;
	color: gray;
  text-align: left;
}

.set-range  {
	border: 1px solid gray;
	height: 130px;
	width: 500px;
	background-color: #FFFFFF;
	margin: 10px 10px 0px 10px;
}

.current-range  {
	border: 1px solid gray;
	height: 360px;
	width: 500px;
	background-color: #FFFFFF;
	margin: 10px 10px 0px 10px;
}

.current-range h3 {
	margin: 10px 0 0 10px;
}

.latest-score {
	border: 1px solid gray;
	height: 201px;
	width: 500px;
	background-color: #FFFFFF;
	margin: 10px 10px 10px 10px;
}

h2 {
	margin: 10px 0 5px 10px;
	color: #404041;
}

#Range1, #Range2 {
 	height: 33px;
 	width: 156px;
 }

 .update-range {
 	background-color: #6E6E6E;
 	color: #FFFFFF;
 	border-radius: 20px;
 	width: 122px;
 	height: 35px;
 	margin: 0 0 0 15px;
 	font-weight: bold;
 	font-size: 17px;
 }

#Name1, #Name2 {
	width: 295px;
	height: 30px;
	margin: 0 15px 0 0;
}

#Guess1, #Guess2 {
	width: 156px;
	height: 30px;
}

.submit-guess  {
	width: 160px;
	height: 33px;
	border-radius: 20px;
	background-color: #6E6E6E;
	color: #FFFFFF;
	margin: 10px 5px 2px 5px;
	font-weight: bold;
 	font-size: 17px;
}

.submit-guess:hover {
  background-color: #DD1972;
}

.reset-game, .clear-game {
	width: 140px;
	height: 33px;
	border-radius: 20px;
	background-color: #D0D2D3;
	color: #FFFFFF;
	margin: 10px 5px 2px 5px;
	font-weight: bold;
 	font-size: 17px;
}


.latest-score h3 {
	margin: auto;
  text-align: center;
}

.latest-score  h4 {
	margin: auto;
  text-align: center;
}

.latest-score span {
	font-size: 50px;
	padding: 0 80px 0 80px;
	color: #F74D9B;
	font-weight: bold 700;
}

h3.challenger1, h3.challenger2 {
  margin: 0px 30px 0px 30px;
}

h3.thats1.thats2 {
	margin: 10px 40px 0 50px; 
	font-weight: lighter;
}

.winner1, .winner2 {
	border: 1px solid gray;
	height: 188px;
	width: 467px;
	background-color: #FFFFFF;
	margin: 10px 0 2px 10px;
	text-align: center;
  display: none;

}

hr {
	width: 430px;
	color: #D6DEE7;
}

section.result {
  width: 100%;
}

.guesses-result {
	display: inline-block;
	margin: 0px;
  width: 100%;
  text-align: left;
}

li.guess {
    margin: 0px 75px;
    width: 0px;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.delete-card1, .delete-card2 {
	 border-radius: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    padding: 1px;
    background-color: #6E6E6E;
    color: #D0D0D2D3;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus {
  box-shadow: 0 0 5px #DD1972;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #DD1972;
}

.error1, .error2, .error3{
  display: none;
  color: #DD1972;
  width: 100%;
  height: 10px;
  text-align: left;
  margin: 0 10px 5px 10px;
}

@media screen and (max-width: 400px) {
  header, h1 {
    width: 100%;
  }
  main {
    width: 100%;
    display: block;
  }
}